.red-heading {
    color: rgb(0, 0, 0);
}

body{
    color:#fff;
    background: linear-gradient(to right,  rgb(248, 94, 94), rgb(255, 9, 9));
    display: grid;
    place-items: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(192, 10, 10);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

a {
    text-decoration: none;
}